<!DOCTYPE html>
<html>
  <head>
    <title>IncomeshareAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>

  </head>

  <body class="narrowed-nav <%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
